<IfModule mod_rewrite.c>
    RewriteEngine On
    Options -Indexes

    # Block direct web access to sensitive files
    <FilesMatch "\.(env|json|sql|log)$">
        Order allow,deny
        Deny from all
    </FilesMatch>
</IfModule>

# Security headers
<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "SAMEORIGIN"
    Header set X-XSS-Protection "1; mode=block"
</IfModule>